* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

/* header */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
}

.nav.left {
    display: flex;
    align-items: center;
}

.nav.left h1 {
    margin-left: 0.5rem;
}

.nav.right {
    line-height: 3.5rem;
    margin-left: auto;
}

.nav.right select {
    padding-right: 4rem;
}

#btn-play {
    padding: 0 1rem;
}

/* main */

main {
    width: 100%;
    height: calc(100vh - 88px - 50px);

    background-color: #7FFFD4;

    display: flex;
    justify-content: center;
    align-items: center;
}

#square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 500px;
    height: 500px;

    outline: 2px solid black;

    position: relative;
}

/* javascipt class */

.box-save,
.box-bomb {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 0.5px solid black;
    cursor: cell;
}

.selected-save {
    background: rgb(0, 255, 255);
}

.selected-bomb {
    background: rgb(255, 0, 0);
}

.loose-game,
.win-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.loose-game {
    background-color: gray;
}

.win-game {
    background-color: rgb(147, 32, 241);
    color: white;
}